<!DOCTYPE html>
<html>
<head>
	<title>Login - Tuna Simple Blog</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/login.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./js/login.js"></script>
	<script src="./js/js.cookie.js"></script>
</head>
<body>
	<div class = "container">
		<div class="wrapper">
			<form action="javascript:void(0)" class="form-signin">       
			    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
				  <hr class="colorgraph"><br>
				  
				  <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" id="username"/>
				  <input type="password" class="form-control" name="Password" placeholder="Password" required="" id="password"/>
				  <button class="btn btn-lg btn-primary btn-block" value="Login" name="submit" id="login">Login</button>  			
			</form>			
		</div>
	</div>
</body>
</html>