<!DOCTYPE html>
<html>
<head>
	<title>Tuna Simple Blog</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./js/post.js"></script>
</head>
<body>
	<div class="container">
		<%- header %>
		<div class="well" id="post" postid="<%- postid %>">
		</div>
	    <h3 style="text-align: center;font-weight: bold" id="commentsHeader">Comments</h3>   
	    <div class="container" id="comments">
			<div class="row">
			</div>
		</div>
		<div class="well">
		<h3 style="text-align: center;font-weight: bold">Leave a Comment</h3><br>
		<div class="form-group">
		  <label for="name">Name:</label>
		  <input type="text" class="form-control" id="name" maxlength="30">
		</div>
		<div class="form-group">
		  <label for="email">Mail:</label>
		  <input type="email" class="form-control" id="email" maxlength="75">
		</div>
		<div class="form-group">
		  <label for="website">WebSite(Optional):</label>
		  <input type="text" class="form-control" id="website" maxlength="50">
		</div>
		<div class="form-group">
		  <label for="comment">Comment:</label>
		  <textarea class="form-control" rows="5" id="comment" maxlength="400"></textarea>
		</div>
		<button type="submit" class="btn btn-primary" style="float:right;" id="sendComment">Send</button><br>
		</div>
	</div>
	<div class="container" id="footer">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	    <%- footer %>
	</div>
</body>
</html>